*{
  font-family: 'poppins',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.nav-link{
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
transition: border-bottom 0.3s ease-in-out;
transition: border-top 0.3s ease-in-out;
padding: 10px!important;

}




/* Add this to your CSS file */
.nav-link-glowing {
  color: white;
  text-decoration: none;
  border-radius:20px;

  transition: all 0.3s ease;
}

.nav-link-glowing:hover,
.nav-link-glowing.active {
  color: #576DDB;
    border-bottom: 2px solid #576DDB; /* A base border color */
  box-shadow: 0 0 5px #576DDB, inset 0 0 5px #576DDB; /* The glow effect */
  box-shadow: 0 0 10px #576DDB, inset 0 0 10px #576DDB; /* A stronger glow on hover */
}