.projects-container {
  background-color: #19171c;
  min-height: 100vh;
}

.projects-container h1 {
  color: #f8f9fa;
}

.project-card-wrapper {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.project-card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px 5px #00bcd4,
              0 8px 16px rgba(0, 0, 0, 0.45);
  border: 1px solid #00bcd4;
}

.project-card-wrapper:hover .card-body1 {
  background-color: #26212b;
}